<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>VUE</title>
</head>

<body>
  <div id="app">
    <h1>{{mayusculasTexto}}</h1>
    <h2 class="bg-dark" :class="colorCantidad">Mi saldo disponible es: {{ cantidad }}</h2>
    <a v-bind:href="enlace">ir al enlace</a>
    <br>
    <a :href="enlace">ir al enlace</a><!-- funciona igual -->

    <hr>

    <h2 v-if="estado">Cuenta activa</h2>
    <h2 v-else>Cuenta inactiva</h2>

    <hr>

    <h2 v-if="cantidad>500">Cantidad: {{cantidad}}</h2>
    <h2 v-else-if="cantidad <= 500 && cantidad > 0">
      Cantidad:
      <span style="color:red">{{cantidad}}</span>
    </h2>
    <h2 v-else>
      Sin saldo {{cantidad}}
    </h2>
    <hr>
    <h2>Nuestros Servicios</h2>
    <ul>
      <li v-for="(item, index) in servicios" :key="index">{{index+1}} - {{item}}</li>
    </ul>
    <hr>
    <button v-on:click="agregarSaldo">
      Agregar Saldo
    </button>
    <button @click="agregarSaldo">
      Agregar Saldo
    </button>
    <hr>
    <button @click="disminuirSaldo(100)" :disabled="desactivar">
      Disminuir Saldo
    </button>

    <footer-banco :valor="cantidad" fecha="Noviembre 2021" />

  </div>


  <script src="/main.js"></script>
  <script src="components/footer.js"></script>
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>